body {
  margin: 0;
  position: relative;
}

.popup-cont {
  margin: 50px;
  padding: 20;
  background-image: url(../img/bg.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  border: 1px solid rgb(0, 0, 0);
}

#pop-up {
  position: relative;
  top: -1000px;
  animation: drop 0.5s ease forwards;
}

@keyframes drop {
  0% {
  }
  70% {
    transform: translateY(1050px);
  }
  100% {
    transform: translateY(1000px);
    opacity: 1;
  }
}

#Gen1,
#Gen2,
#Gen3,
#Gen4,
#Gen5,
#Gen6,
#Gen7 {
  box-shadow: none;
  padding-left: 20px;
  padding-right: 20px;
  position: absolute;
  top: 2px;
  right: 52px;
}

.bg {
  text-align: center;
  background-color: none;
}
