body {
  background-image: url(../img/bg.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

h1,
body h2,
marquee {
  color: white;
}

.type ul {
  list-style-type: none;
}

body input {
  position: relative;
}

.type ul li {
  color: black;
}

table {
  border-collapse: collapse;
  width: 100%;
  border: 3px solid #ddd;
  background-color: rgb(214, 214, 214);
}

table th,
table td {
  text-align: center;
  padding: 5px;
}

table td img {
  width: 210px;
  height: 220px;
}

table tr {
  border-bottom: 1px solid rgb(168, 168, 168);
}

table th {
  box-shadow: 1px 2px 2px #aaaaaa;
}

.normal {
  padding: 5px;
  border-radius: 5px;
  width: 90%;
  background-color: rgb(255, 166, 0);
  box-shadow: 3px 3px 2px #aaaaaa;
}

.fire {
  padding: 5px;
  border-radius: 5px;
  width: 90%;
  background-color: rgb(250, 137, 9);
  box-shadow: 3px 3px 2px #aaaaaa;
}

.water {
  padding: 5px;
  border-radius: 5px;
  width: 90%;
  background-color: rgb(92, 168, 255);
  box-shadow: 3px 3px 2px #aaaaaa;
}

.electric {
  padding: 5px;
  border-radius: 5px;
  width: 90%;
  background-color: rgb(229, 255, 0);
  box-shadow: 3px 3px 2px #aaaaaa;
}

.grass {
  padding: 5px;
  border-radius: 5px;
  width: 90%;
  background-color: rgb(55, 230, 55);
  box-shadow: 3px 3px 2px #aaaaaa;
}

.ice {
  padding: 5px;
  border-radius: 5px;
  width: 90%;
  background-color: rgb(0, 225, 255);
  box-shadow: 3px 3px 2px #aaaaaa;
}

.fighting {
  padding: 5px;
  border-radius: 5px;
  width: 90%;
  background-color: rgb(165, 42, 42);
  box-shadow: 3px 3px 2px #aaaaaa;
}

.poison {
  color: white;
  padding: 5px;
  border-radius: 5px;
  width: 90%;
  background-color: rgb(48, 9, 63);
  box-shadow: 3px 3px 2px #aaaaaa;
}

.ground {
  padding: 5px;
  border-radius: 5px;
  width: 90%;
  background-color: rgb(246, 178, 67);
  box-shadow: 3px 3px 2px #aaaaaa;
}

.flying {
  padding: 5px;
  border-radius: 5px;
  width: 90%;
  background-color: rgba(73, 39, 185, 0.733);
  box-shadow: 3px 3px 2px #aaaaaa;
}

.psychic {
  padding: 5px;
  border-radius: 5px;
  width: 90%;
  background-color: rgb(255, 0, 238);
  box-shadow: 3px 3px 2px #aaaaaa;
}

.bug {
  padding: 5px;
  border-radius: 5px;
  width: 90%;
  background-color: rgb(78, 168, 37);
  box-shadow: 3px 3px 2px #aaaaaa;
}

.rock {
  padding: 5px;
  border-radius: 5px;
  width: 90%;
  background-color: rgba(192, 119, 11, 0.897);
  box-shadow: 3px 3px 2px #aaaaaa;
}

.ghost {
  padding: 5px;
  border-radius: 5px;
  width: 90%;
  background-color: rgb(176, 39, 194);
  box-shadow: 3px 3px 2px #aaaaaa;
}

.dragon {
  padding: 5px;
  border-radius: 5px;
  width: 90%;
  background-color: rgb(96, 10, 235);
  box-shadow: 3px 3px 2px #aaaaaa;
}

.dark {
  padding: 5px;
  border-radius: 5px;
  width: 90%;
  background-color: rgb(77, 53, 25);
  box-shadow: 3px 3px 2px #aaaaaa;
}

.steel {
  padding: 5px;
  border-radius: 5px;
  width: 90%;
  background-color: rgb(128, 128, 128);
  box-shadow: 3px 3px 2px #aaaaaa;
}

.fairy {
  padding: 5px;
  border-radius: 5px;
  width: 90%;
  background-color: rgb(255, 108, 248);
  box-shadow: 3px 3px 2px #aaaaaa;
}

.type {
  color: white;
}

button {
  padding: 4px;
  box-shadow: 3px 3px 2px #aaaaaa;
}

.pokeball {
  position: relative;
  opacity: 0.5;
}

.logo {
  position: center;
  right: 29%;
}

.navbar {
  overflow: hidden;
  background-color: rgba(184, 184, 184, 0.548);
  top: 0;
}

.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover,
.dropdown:hover .dropbtn {
  background-color: rgb(1, 1, 7);
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #353333;
  min-width: 150px;
  box-shadow: none;
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: rgb(105, 105, 105);
}

.dropdown:hover .dropdown-content {
  display: table;
}

.active {
  background-color: darkblue;
}

a {
  text-decoration: none;
}

.navbar .fa {
  margin-left: 5px;
}
