body {
  margin: 0;
  position: relative;
}

.popup-cont {
  margin: 50px;
  padding: 20;
  background: url(../img/bg.jpg);
}

#pop-up {
  position: relative;
  top: -1000px;
  animation: drop 0.5s ease forwards;
}

@keyframes drop {
  0% {
  }
  70% {
    transform: translateY(1020px);
  }
  100% {
    transform: translateY(980px);
    opacity: 1;
  }
}

#Gen1,
#Gen2,
#Gen3,
#Gen4,
#Gen5,
#Gen6,
#Gen7 {
  box-shadow: none;
  padding-left: 20px;
  padding-right: 20px;
  position: absolute;
  top: 3px;
  right: 75px;
}

.bg {
  text-align: center;
  background-color: none;
}
